@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  @apply bg-darkbg
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
